<html lang="en">
<head>
      <title>I-MOTION BOT</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
    <div class="main">
        <h1>I-MOTION BOT</h1>
        <div class="container">
            <h4>Upload an image to see how it makes I-MOTION BOT feel</h4>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
    <div>
</body>
</html>